.select {
    width: 300px; 
    height: 60px;
    padding: 1em 1.7em; 
    border: 1px solid #ccc;
    border-radius: 30px; 
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    text-align: left;
    z-index: 5;
    background-color: white;
    position: relative;
}

.select:active {
    border: 1px solid red;
}

.listbox {
    width: 300px;
    height: auto;
    position: fixed;
    list-style: none;
    border: 1px solid #CCC;
    box-sizing: border-box;
    border-radius: 20px;
    display: none;
    padding: 40px 20px 10px 20px;
    margin: -40px 0px;
    z-index: 2;
}

.selectDiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.arrow{
    width: 10%;
    height: auto;
}

.list{
    font-size: 14px;
    padding: 15px 5px;
    text-align: left;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}
.last {
    border: none;
}

.list:active{
    background-color: rgba(255, 0, 0, 0.15);
    border-radius: 15px;
}