.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: hidden;
}
.inner_wrapper {
    margin-top: 1.25rem;
    height: 100%;
}
main {
    height: 100%;
}