@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable-std-dynamic-subset.css");

* {
  box-sizing: border-box;
}

html {
  font-family: "Pretendard Std Variable", "Pretendard Std", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  height: 100%;
}

body {
  margin: 0;
  background-color: white;
  height: 100%;
}

img{
  height: 100%;
}

#root {
  height: 100%;
}